---
import "../../style/global.css";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
import HeaderImage from "../../components/header-image.astro";

const siteTitle = "Surfclubb Blog";
const description = "Articulos de Surf Indoor";

// Data Fetching: List all Markdown posts in the repo.

const allPosts = await Astro.glob("../../content/posts/*.md");
const sortedPosts = allPosts
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf(),
  )
  .filter((p) => p.frontmatter.hidden !== true);
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="/images/twitter.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@t3dotgg" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/images/twitter.png" />
    <title>{siteTitle}</title>
    <meta name="theme-color" content="#000000" />

    <script defer data-domain="astro.surfclubb" src="src/scrypts/scriptPortada.js"
    ></script>
  </head>
  <body style="background-color: rgba(247, 242, 254, 1)">
    <main>
      <div class="absolute right-0 z-10 p-4 text-right text-xl font-bold">
        <a href="https://www.youtube.com/c/surfclubbcom">Youtube</a>
        <br />
        <a href="https://twitter.com/surfclubbcom">Twitter</a>
        <br />
        <a href="/links">More</a>
      </div>
      <div class="page flex h-full w-full flex-col items-center">
        <div class="mt-8 w-48"><HeaderImage /></div>
        <h1 class="pt-2 text-4xl font-bold">Surfclubb - Blog</h1>
        <h2 class="px-8 text-center text-xl xl:px-0">
          Descubra el surf interior con olas artificiales con un resumen de artículos relacionados.
        </h2>
        <div
          class="grid w-full grid-cols-1 gap-4 p-4 lg:grid-cols-2 lg:p-8 xl:gap-8"
        >
          {sortedPosts.map((p) => <BlogPostPreview post={p} />)}
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  .page {
    background-color: rgba(247, 242, 254, 1);
    background-image: url("/images/bg-texture.png");
  }
  a {
    @apply text-black;
  }
</style>
